@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

.info{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h3{
    text-align:center;
}
/* .container{
    height: 1500px;
} */
.navbar{ 
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(21, 21, 21);
}

.navbar .nav-link {
    color: white;
}
 .bi-joystick{
    color: white;
    padding: 1rem;
}
.bi-joystick:hover{
    color:black
}

.navbar-brand{
    color: white;

}
.nav-link:hover{
    color: black;
    cursor: pointer;
}

#logo_name {
    color: white;
}

#logo_name:hover {
    color: black;
}
.card{
    width: 20rem;
}
body{
    color: grey;
    background-color: grey;
}
.navbar-toggler-icon{
    color: white !important;
}
